<form method="post" action="{{ path('app_matiere_delete', {'id': matiere.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer cet item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ matiere.id) }}">
    <button class="btn">Supprimer</button>
</form>
