{% extends 'base.html.twig' %}

{% block title %}Editer Pages{% endblock %}

{% block body %}
    <h1>Editer Pages</h1>

    {{ include('pages_admin/_form.html.twig', {'button_label': 'Modifier'}) }}

    
    <a class="btn btn-primary" href="{{ path('app_pages_admin_index') }}">Retour</a>

    {{ include('pages_admin/_delete_form.html.twig') }}
{% endblock %}
