<div class=" head bg-warning text-center py-2 d-none d-md-block">
	<marquee behavior="" scrollamount="6" direction="left">RETROGAMERS : Retrouvez les jeux de votre enfance aux meilleurs prix !
	</marquee>
</div>
